.form {
    margin: 0 auto;
    max-width: 952px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.form__container {
    display: flex;
    gap: 12px;
}

.button_size_small {
    min-width: 175px;
}

.button_size_large {
    min-width: 362px;
}

.symbolList {
    max-width: 944px;
    margin: 0 auto;
    padding: 120px 0 0 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.symbolList__item {
    display: flex;
    align-items: center;
    list-style: none;
    position: relative;
}

.circle {
    padding: 0 16px;
}

.circle__type_add {
    padding: 0;
    position: absolute;
    top: -64px;
    left: 28px;
}

.circle__type_delete {
    padding: 0;
    position: absolute;
    bottom: -94px;
    left: 28px;
}