.form {
    margin: 0 auto;
    max-width: 829px;
    display: flex;
    gap: 12px;
}

.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 944px;
    margin: 0 auto;
    padding-top: 48px;
    row-gap: 78px;
    column-gap: 16px;
}

.button {
    margin-left: 68px;
}