.form {
    margin: 0 auto;
    max-width: 980px;
    display: flex;
    gap: 52px;
}

.form__radioButtons {
    display: flex;
    align-items: center;
    gap: 40px;
}

.form__buttons {
    display: flex;
    align-items: center;
    gap: 12px;
}

.form__buttons > button:last-child {
    margin-left: 80px;
}

.button {
    width: 205px;
}

.symbolList {
    margin: 0;
    height: 340px;
    padding: 48px 0 0 0;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 10px;
}